[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
requests = "*"
python-oembed = "*"
wikipedia = "*"
arrow = "*"
romkan = "*"
googletrans = "*"
ircutils = "*"
googletranslate = "*"

[dev-packages]

[requires]
python_version = "2.7"
